/dts-v1/;
#include "cv181x_base_riscv.dtsi"
/*#include "cv181x_asic_qfn.dtsi"*/
/*#include "cv181x_asic_sd.dtsi"*/
#include "cv181x_default_memmap.dtsi"
#include <dt-bindings/gpio/gpio.h>

&sd {
	status = "okay";
	no-1-8-v;
};

&mipi_rx{
	/delete-property/ snsr-reset;
};

&mipi_tx {
	/delete-property/ reset-gpio;
	/delete-property/ pwm-gpio;
	/delete-property/ power-ct-gpio;
};

&dac{
	status = "okay";
};

&spi0 {
	status = "disabled";
};

&spi1 {
	status = "disabled";
};

&spi2 {
	status = "disabled";
};

&spi3 {
	status = "disabled";
};

&i2c0 {
	status = "disabled";
};

&i2c1 {
	status = "disabled";
};

&i2c2 {
	status = "okay";
};

&i2c3 {
	status = "disabled";
};

&i2c4 {
	status = "disabled";
};

&uart1 {
	status = "okay";
};

&uart2 {
	status = "okay";
};

&uart3 {
	status = "okay";
};

&uart4 {
	status = "okay";
};

&wifisd {
	status = "okay";
};

/ {
	model = "Seeed reCamera";

	/delete-node/ cvi-spif@10000000;
	/delete-node/ cv-spinf@4060000;
	/delete-node/ cv-wd@0x3010000;

	leds {
		compatible = "gpio-leds";

		led0 {
			label = "red";
			gpios = <&porta 15 1>;
			linux,default-trigger = "heartbeat";
			default-state = "on";
		};

		led1 {
			label = "blue";
			gpios = <&porte 24 1>;
			linux,default-trigger = "mmc0";
			default-state = "on";
		};

		led2 {
			label = "white";
			gpios = <&porte 0 0>;
			default-state = "off";
		};
	};

	/delete-node/ bt_pin;
	/delete-node/ wifi_pin;
	wifi_pin {
		compatible = "cvitek,wifi-pin";
		poweron-gpio = <&porta 30 1>;
		/*wakeup-gpio = <&porte 8 1>;*/
	};

	soc {
		watchdog0: cv-wd@0x3010000 {
			compatible = "snps,dw-wdt";
			reg = <0x0 0x03010000 0x0 0x1000>;
			resets = <&rst RST_WDT>;
			interrupts = <58 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&pclk>;
		};
	};
};