# fw_printenv and fw_setenv configuration
#
# This is only used for storing firmware metadata on this platform. I.e. you
# don't need to use the U-Boot bootloader if you're not already using it.
#
# See fwup.conf for offset and size

# SG2002 U-Boot environment configuration
# Environment stored in raw MMC at 4 MiB offset, 128 KiB size
# Device configured in uboot.env as devnum=1 (/dev/mmcblk1)

# Device name	Device offset	Env. size	Flash sector size	Number of sectors
/dev/mmcblk1	0x400000	0x20000		0x200			256
